[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
mysql-connector-python-rf = "*"
fastapi = "*"
pydantic = "*"
email-validator = "*"
pytest = "*"
uvicorn = "*"
sqlalchemy-utils = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
